<%= link_to "|Back|", program_path(@program) %>
<h1 class="ui grey inverted header"> Add New Workout </h1>
<hr />
<h2 class="ui grey inverted header"> <%= @program.name %> </h2>

<%= render "form" %>
