@import "semantic-ui";

body {
  background-image: url(https://i.pinimg.com/originals/96/6a/7b/966a7b0fa51a0e145aa6b2fe8cd56923.jpg);
  overflow: scroll;
}

.ui.card,
.ui.cards>.card {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

